.users {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.justi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.flex {
  display: flex;
  gap: 20px;
}

.searchWrapper {
  flex: 1;
  max-width: 400px;
}
