.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex {
  display: flex;
  gap: 20px;
}
.justi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  span {
    margin-left: 20px;
    color: var(--color-gray-500);
  }
}
.center {
  display: flex;
  gap: 5px;
  align-items: center;
}
