.header {
  display: flex;
  gap: 20px;
  align-items: center;
}
.flex {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.bot {
  display: flex;
  gap: 20px;
  align-items: center;
}
.bots {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.green,
.red {
  display: flex;
  gap: 5px;
  font-size: var(--spacing-md);
  align-items: center;
}

.green {
  color: var(--color-green);
}
.red {
  color: var(--color-danger);
}
.checks {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.check {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-gray-300);
}
.watch {
  display: flex;
  gap: 10px;
  align-items: center;
}
.span {
  margin-top: -20px;
  padding-left: 25px;
  font-size: var(--spacing-md);
  color: var(--color-gray-400);
}
