.header {
  display: flex;
  gap: 10px;
  align-items: center;
}
.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  span {
    color: var(--color-gray-500);
  }
}
