.transactions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex {
  display: flex;
  gap: 20px;
}
.justi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}
