/* Цвета проекта */
/* Вот тут короче должны быть цвета */

/* Текста */
/* Тут текста настраиваются */

h1 {
  /* Стили */
  /* Состояния цветов, типа серый, черный, белый, синий */
  /* Адаптивка текста под планшеты и телефоны */
}

h2 {
  /* Стили */
  /* Состояния цветов, типа серый, черный, белый, синий */
  /* Адаптивка текста под планшеты и телефоны */
}

h3 {
  /* Стили */
  /* Состояния цветов, типа серый, черный, белый, синий */
  /* Адаптивка текста под планшеты и телефоны */
}

h4 {
  /* Стили */
  /* Состояния цветов, типа серый, черный, белый, синий */
  /* Адаптивка текста под планшеты и телефоны */
}

h5 {
  /* Стили */
  /* Состояния цветов, типа серый, черный, белый, синий */
  /* Адаптивка текста под планшеты и телефоны */
}

h6 {
  /* Стили */
  /* Состояния цветов, типа серый, черный, белый, синий */
  /* Адаптивка текста под планшеты и телефоны */
}

p {
  /* Стили */
  /* Состояния цветов, типа серый, черный, белый, синий */
  /* Адаптивка текста под планшеты и телефоны */
}

span {
  /* Стили */
  /* Состояния цветов, типа серый, черный, белый, синий */
  /* Адаптивка текста под планшеты и телефоны */
}

/* Сделать то же самое для дргуих тегов тектса */
/* Бля один хуй GPT менен кыласын да, хуйня эле */

/* Обнуление CSS */

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
