.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-left: 280px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    margin-left: 240px;
  }

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.main {
  flex: 1;
  min-height: calc(100vh - 65px);
  padding: 30px;
}
