.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.firstBlock {
  display: flex;
  align-items: start;
  gap: 20px;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }

  .firstBlockChildMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .firstBlockChild {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }
}
.firstBlock > :first-child {
  flex: 2.5; /* шире */
}

.firstBlock > :last-child {
  flex: 1; /* уже */
}

.secondBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
