.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.date {
  color: var(--color-gray-500);
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
}

.filters {
  display: flex;
  gap: 12px;
  min-width: 500px;
}

.actions {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .filters {
    min-width: 300px;
  }
  .actions {
    width: 100%;
  }
}
