.card {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-bottom: 20px;
}
.block {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 24px;
  height: 24px;
  color: var(--color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: var(--color-gray-500);
}
.unit {
  color: var(--color-back);
}
