.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex {
  display: flex;
  gap: 20px;
}
.width {
  width: 100%;
}
.width1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
  .width1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
