.sys {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-wrap: nowrap;
}
.border {
  padding: 4px 8px;
  border-radius: var(--radius-md);
  background: var(--color-gray-100);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
